/*FontFace*/
@font-face {
    font-family: 'seravekmedium';
    src: url('seravek-medium-webfont.woff2') format('woff2'),
         url('seravek-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'seravekregular';
    src: url('seravek-webfont.woff2') format('woff2'),
         url('seravek-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*FontFace*/

/*Stop By Start*/
#stop-by-title {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 56px;
}

h1 {
    color: #545859;
    font-family: "Readex Pro", sans-serif;
    font-size: 64px;
    font-weight: 500;
}

h2 {
    color: #545859;
    font-family: "Arimo", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

p {
    color: #878787;
    font-family: "seravekregular";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

#stop-by-info-container {
    display: flex;
    flex-direction: row;
    margin: 0px 80px;
}

#stop-by-left {
    margin-right: 64px;
    text-align: center;
}

#stop-by-left img {
    width: 744px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 24px;
}

.stop-by {
    margin-bottom: 40px;
}
/*Stop By End*/

/* Get in Touch Start */
#get-in-touch-container {
    margin: 88px 80px;
}

#get-in-touch-container p {
    margin-bottom: 48px;
}

h4 {
    color: #545859;
    font-family: "Readex Pro", sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 16px;
}

.input-div {
    margin-bottom: 32px;
}

.input-div h2 {
    margin-bottom: 18px;
}

.input-div input {
    padding: 18px;
    border-radius: 20px;
    border: 3px solid #DEDEDE;
    width: 100%;
    height: 68px;
    color: #878787;
    font-family: "seravekregular";
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.input-div textarea {
    padding: 18px;
    border-radius: 20px;
    border: 3px solid #DEDEDE;
    width: 100%;
    height: 150px;
    color: #878787;
    font-family: "seravekregular";
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.subscribe {
    display: flex;
    flex-direction: row;
}

input[type=checkbox] {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 3px solid #545859;
    margin: 6px 32px 0px 0px
}

.g-recaptcha {
    transform: scale(1.5);
    transform-origin: 0 0;
    margin-bottom: 32px;
}

.grecaptcha-badge {
    display: none !important;
}

#submit-button {
    color: #FAFAFA;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'seravekmedium';
    font-weight: bold;
    width: 124px;
    height: 48px;
    border-radius: 62px;
    border-color: #F26D36;
    border-style: solid;
    background: #F26D36;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-top: 32px;
    padding: 8px 32px;
}




/* Get in Touch End */