/*FontFace*/
@font-face {
    font-family: 'seravekmedium';
    src: url('seravek-medium-webfont.woff2') format('woff2'),
         url('seravek-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'seravekregular';
    src: url('seravek-webfont.woff2') format('woff2'),
         url('seravek-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*FontFace*/

/*announcement starts*/

.bold-font{
    font-weight: 700;
}
  
#announcement{
    height:64px;
    font-weight: 400;
    width: 100%;
    background-color: #191919;
    color: white;
    text-align: center;
    padding-top:16px;
  }
  
  #a-icon{
    margin-right: 12px;
  }
  
  #underline{
    font-weight: 400;
    margin-left: 24px;
    cursor: pointer;
    text-decoration: underline;
  }

/*announcement ends*/

/*nav bar start*/
#nav-container {
    height: 80px;
    width: 100%;
    background-color: white;
    padding-left: 48px;
    padding-top: 16px;
}

#nav-grid {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}


.nav-item {
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    padding-top: 12px;
    margin-right: 40px;
    font-weight:700;
    line-height: 32px;
    letter-spacing: -0.304px;
}

.nav-button {
    padding: 8px 32px;
    border-radius: 62px;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    border-color: black;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 12px;

}

#get-in-touch {
    background-color: white;
    color: black;
    margin-right: 16px;
}

#get-in-touch:hover{
    background-color: #192126;
    color: white;
    border: 1px solid #014337;
}

#visit-store {
    background-color: black;
    color: white;
    display: flex;
    transition: all .3s ease;
    align-items: center;
    text-align: center;
    padding: 8px 32px;
    border-radius: 62px;
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    border-color: black;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 12px;
}


#visit-store > #arrow {
    width: 8px;
    height: 8px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
}

#visit-store > #arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
}

#visit-store:hover > #arrow {
    transform: rotate(-45deg) translate(5px, 5px);
    border-color: text-hover-color;
}

#dropdown {
    overflow: visible;
}
  
#dropdown #dropbtn {
    font-family: "Arimo", sans-serif;
    font-size: 16px;
    padding-top: 12px;
    margin-right: 40px;
    font-weight:700;
    line-height: 32px;
    letter-spacing: -0.304px;
    border: none;
    outline: none;
    color: #191919;
    background-color: inherit;
  }

#arrow-down{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
  #dropdown:hover #dropbtn {
    background-color: white;
  }
  
  #dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 4px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.304px;
  }
  
  #dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 24px;
  }
  
  #dropdown-content a:hover {
    background-color: #f9f9f9;
  }
  
  #dropdown:hover #dropdown-content {
    display: block;
    width: 300px;
  }

/*nav bar end*/

/*carousel start*/

.carousel-inner {
    background-color: #1e3722;
  }

 #indicators{
    width: 12px;
    height: 12px;
    border-radius: 999px;
    margin: 95vh 6px 0 6px;
 } 

.carousel-control-prev {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    opacity: 0.5;
    transition: opacity 100ms;
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#prev-arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 6px;
}

#next-arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 6px;
}

.carousel-control-next{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    opacity: 0.5;
    transition: opacity 100ms;
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,.carousel-control-next:hover,.carousel-control-next:focus {
  opacity: 1;
}

/*carousel end*/

/*gift guide start*/

#gift-guide{
    width: 100%;
    height: 300px;
    background-color: #FFF5BF;
}

#box-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#box1{
    background-color: #FFB524;
    width: 200px;
    height: 300px;
    border-radius: 0px 0px 500px 0px;
    top:0;
    left: 0;
    position: relative;
}

#gift-call{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 67px;
    height: 166px;
    width: 832px;
}

#bold-call{
    font-family: "Readex Pro", sans-serif;
    font-size: 40px;
    line-height: 32px;
    letter-spacing: -0.76px;
    text-align: center;
    color: #545859;
    margin-bottom: 24px;
}

#lower-call{
    font-family: "Arimo", sans-serif;
    font-size: 24px;
    color: #878787;
    line-height: 32px;
    letter-spacing: -0.456px;
    text-align: center;
    margin-bottom: 30px;
}

#guide-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

#guide-button{
    display: flex;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 62px;
    border: 1px solid #014337;
    background: #192126;
    color:white;
    font-family: "Arimo", sans-serif;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.342px;
    cursor: pointer;

}

#box2{
    background-color: #FFB524;
    width: 200px;
    height: 300px;
    border-radius: 500px 0px 0px 0px;
    top:0;
    right: 0;
    position: relative;
}


/*gift guide end*/
/* trade/background section start */
#trade-background {
    background-image: url("/static/img/background-trade.png");
    width: 1280px;
    height: 300px;
}
/* trade/background section end */


/*footer start*/
#footer {
    background-color: black;
    color: #ffffff;
    padding-left: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
}

#footer-top {
    padding-left: 24px;
    padding-bottom: 32px;
    padding-top: 24px;
    /* padding-top: 24px; new change */
    width: 1184px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
}

#footer-info {
    width: 50%;
    height: 104px;
}

a:hover {color:white}

/*changed font*/
.bold-text-footer {
    color: #FFF;
    font-family: Arimo, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.456px;
}

.text-footer {
    font-family: 'seravekregular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.38px;
}

.text-footer-right {
    padding-bottom: 24px;
    cursor: pointer;
}

.title-text-footer {
    font-family: 'seravekregular';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.38px;
    margin-bottom: 0;
    color: white;
}

#email-footer {
    width: 50%;
    height: 104px;
    align-items: center;
    padding-top: 26px;
}

#email-input {
    background-color: black;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    width: 353px;
    height: 33px;
    margin-left: 40px;
    margin-right: 20px;
}

::placeholder {
    color: #FFF;
    font-family: 'seravekregular';
    font-size: 20px;
    font-style: normal;
}

#email-button {
    color: #192126;
    font-family: 'seravekmedium';
    font-weight: bold;
    font-size: 20px;
    width: 147px;
    height: 48px;
    border-radius: 62px;
    border-color: black;
    background: #FFF;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.38px;
}

#footer-bottom {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    padding-bottom: 32px;
    /* padding-bottom: 32px;  new change */
}

#footer-logo-container {
    color: #FAFAFA;
    font-family: Readex Pro;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    align-items: center;
    height: 40px;
}

#footer-logo {
    width: 43px;
    height: 61px;
    margin-right: 16px;
}

#footer-location-hours {
    margin-right: 125px;
}

#footer-boheme {
    margin-right: 40px;
}

#footer-services {
    margin-right: 40px;
}

#footer-media {
    margin-right: 40px;
}
 
/* new change */
#copyright-footer{
    text-align: center;
    font-family: 'seravekregular';
    font-size: 16px;
    padding-bottom: 16px;
    letter-spacing: -0.304px;
    text-transform: capitalize;
}


/*footer end*/