@font-face {
    font-family: 'seravekmedium';
    src: url('seravek-medium-webfont.woff2') format('woff2'),
         url('seravek-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'seravekregular';
    src: url('seravek-webfont.woff2') format('woff2'),
         url('seravek-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1{
    font-family: 'seravekmedium';
}

h2{
    font-family: 'seravekregular'
}