/*FontFace*/
@font-face {
    font-family: "seravekmedium";
    src: url("seravek-medium-webfont.woff2") format("woff2"),
      url("seravek-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "seravekregular";
    src: url("seravek-webfont.woff2") format("woff2"),
      url("seravek-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  /*FontFace*/

/* trade/background section start */
#trade-background {
    background-image: url("/static/img/background-trade.png");
    width: 1280px;
    height: 300px;
}

#trade-text-align {
    text-align: center;
    float: left;
    width: 803px;
    margin-top: 55px;
}

h1 {
    color: var(--nav-text, #545859);
    font-family: "Readex Pro", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.76px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

h2 {
    color: #878787;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.38px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

p {
    color: #878787;
    text-align: center;
    font-family: "seravekregular", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.456px;
}
/* trade/background section end */

/* What you earn start */
#earn-titles {
    text-align: center;
    margin: 40px 0px;
}

h3 {
    color: #F26D36;
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

#earn-details {
    margin: 32px auto;
    width: 910px;
    height: 64px;
}

strong {
    color: #F26C34;
    font-family: "seravekregular";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.456px;
}


/* What you earn end */

