<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Epilogue' rel='stylesheet'>
    <link href="/static/css/about.css" rel="stylesheet">
    <title>About Boheme</title>
</head>
<body>
    <div class="staff-container">
        <h5>Our Team</h5>
        <h2>Boheme's Stylish Staff</h2>
        <div class="staff-array">
            <div class="staff-picture"></div>
            <div class="staff-picture"></div>
            <div class="staff-picture"></div>
            <div class="staff-picture"></div>
        </div>
    </div>
    <div>
        <h5>Reviews</h5>
        <h2>Hear What Our Customers Have to Say</h2>
        <span class="yelp-review" data-review-id="af3O-BUmVELCiY5Mkm5Zng" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=0a0s7M6ahQtWI2jjn5V7PA" rel="nofollow noopener">Nadine D.</a>'s <a href="https://www.yelp.com/biz/boheme-used-clothing-and-goods-davis-2?hrid=af3O-BUmVELCiY5Mkm5Zng" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/VUXGZoUNBxTa0pErGTnWAw" rel="nofollow noopener">Boheme Used Clothing & Goods</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script src="https://www.yelp.com/embed/widgets.js" type="text/javascript" async></script></span>
    
    </div>
</body>
</html>

