<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Epilogue' rel='stylesheet'>
    <link href="/static/css/about.css" rel="stylesheet">
    <title>About Boheme</title>
</head>
<body>
    <div class="staff-container">
        <div class="staff-title">
            <h5>Our Team</h5>
            <h2>Boheme's Stylish Staff</h2>
        </div>
        <div class="staff-array">
            <div class="staff-picture"></div>
            <div class="staff-picture"></div>
            <div class="staff-picture"></div>
            <div class="staff-picture"></div>
            <div class="staff-picture"></div>
        </div>
    </div>
    <div class="yelp-review-container">
        <h5>Reviews</h5>
        <h2>Hear What Our Customers Have to Say</h2>    
    </div>
    <!--footer-->
    <div id="footer">
        <div id="footer-top">
            <div id="footer-info">
            <p class="bold-text-footer">Sign Up and Save</p>
            <p class="text-footer">
                Be kept up-to-date on our sales, specials, and new product offerings
                by signing up for our newsletter.
            </p>
            </div>
            <div id="email-footer">
            <input id="email-input" type="text" placeholder="Email Address" />
            <button id="email-button">Subscribe</button>
            </div>
        </div>
        <div id="footer-bottom">
            <div id="footer-logo-container">
            <img id="footer-logo" src="/static/img/boheme-logo-full.png" />
            </div>
            <div id="footer-location-hours">
            <p class="bold-text-footer">Location</p>
            <p class="text-footer">409 3RD STREET, DAVIS, CA</p>
            <p class="bold-text-footer">Hours</p>
            <p class="text-footer">SUN - FRI: 11:00 - 6:00</p>
            <p class="text-footer">SAT: 10:30 - 6:00</p>
            <p class="bold-text-footer">Phone Number</p>
            <p class="text-footer">530-341-2004</p>
            </div>
            <div id="footer-boheme">
            <p class="bold-text-footer">Bohème</p>
            <p style="padding-top: 24px" class="text-footer text-footer-right">
                Home
            </p>
            <p class="text-footer text-footer-right">About</p>
            <p style="cursor: pointer" class="text-footer">Contact</p>
            </div>
            <div id="footer-services">
            <p style="cursor: auto" class="bold-text-footer text-footer-right">
                Services
            </p>
            <p class="text-footer text-footer-right">Our Store</p>
            <p style="cursor: pointer" class="text-footer">Buy-Sell-Trade</p>
            </div>
            <div id="footer-media">
            <p style="cursor: auto" class="bold-text-footer text-footer-right">
                Media
            </p>
            <p class="text-footer text-footer-right">Fun Photos</p>
            <p class="text-footer text-footer-right">Vibin' Videos</p>
            <p class="text-footer text-footer-right">In the News</p>
            <p style="cursor: pointer" class="text-footer">Blog</p>
            </div>
            <div id="footer-follow-us">
            <p style="cursor: auto" class="bold-text-footer text-footer-right">
                Follow Us
            </p>
            <a href="https://www.instagram.com/boheme.threads/?hl=en">
                <img
                style="cursor: pointer"
                src="/static/img/footer-instagram.png"
                class="footer-icon"
                />
            </a>
            <a href="https://www.facebook.com/BohemeThreads/">
                <img
                style="cursor: pointer"
                src="/static/img/footer-facebook.png"
                class="footer-icon"
                />
            </a>
            </div>
        </div>
        <div id="copyright-footer">2023. Bohème Used Clothing & Gifts</div>
    </div>
</body>
</html>

